<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

<div class="about">
  <header>
    <p>Über unser Team RGM!</p>
  </header>
  <body>
  <p>Unsere Mitarbeiter haben ein neues Uno auf der Basis von TypeScript ins Netz gestellt, um sich Uno nicht installieren zu müssen.
    Es ist zwar ein abgespecktes Uno, dennoch ist es für jeden zugänglich.</p>
  <h1>
    Das Team besteht aus:
  </h1>
  </body>
</div>


<div class="container">
  <div class="row">
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img src="./assets/alex.png" width="208" height="250">
        <div class="card-body">
          <h5 class="card-title">Alexander Gasta Projektleiter</h5>
          <p class="card-text">Logik und Programmierung:<br>HTML, Typescript</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img src="./assets/sebi.png" width="250" height="250">
        <div class="card-body">
          <h5 class="card-title">Sebastian Melichar</h5>
          <p class="card-text">Design und Website:<br>HTML, SCSS und Logo</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img src="./assets/erik.png" width="250" height="250">
        <div class="card-body">
          <h5 class="card-title">Erik Rossiwall</h5>
          <p class="card-text">Design und Website:<br>HTML, SCSS und Kartendesign </p>
        </div>
      </div>
    </div>
  </div>
</div>
