.about header{
  font-family: "Segoe UI";
  font-weight: bold;
  font-size: 36pt;
  text-align: center;
}
.about body{
  font-family: "Segoe UI";
  font-size: 16pt;
  padding-left: 200px;
  padding-right: 200px;
  text-align: justify;
}
.about h1 {
  text-align: center;
  font-family: "Segoe UI";
  font-weight: bold;
  font-size: 24pt;
  padding-right: 50px;
}
.card {
  border-color: white;
}
.container{
  padding-left: 100px;
  padding-bottom: 10%;
}
