<p>Wir nehmen den Schutz Ihrer persönlichen Daten sehr ernst und halten uns strikt an die Bestimmungen des Datenschutzgesetztes. Ihre Peronenbezogenen Daten werden nur im technisch notwendigen Fall erhoben und in keinem Fall verkauft oder aus anderen Gründen an Dritte weitergegeben.</p>



<h2>Erhebung und Verarbeitung von Daten</h2>



<p>Der Besuch unserer Internetseite ist möglich, ohne dass Sie Angaben zu Ihrer Person machen müssen. Wir speichern lediglich Zugriffsdaten ohne Personenbezug, dazu zählen</p>



<ul><li>Browsertyp</li><li>Browserversion</li><li>das verwendete Betriebssystem</li><li>Hostname des zugreifenden Rechners (IP Adresse)</li><li>sowie die Uhrzeit der Serveranfrage.</li></ul>



<p>Diese nicht personenbezogenen Daten werden ausschließlich zur Verbesserung unseres Angebotes ausgewertet und erlauben uns keinen Rückschluss auf Ihre Person.</p>



<h2>Personenbezogene Daten</h2>



<p>Personenbezogene Daten werden nur im Rahmen eines Webseiten-Kommentars oder Kontaktanfrage erhoben. Die Erhebung personenbezogener Daten (E-Mailadresse) im Zuge eines Kommentars sind für die technische Realisierung und Gewinnbenachrichtung bei Gewinnspielen notwendig, werden jedoch zu keinem Zeitpunkt veröffentlicht oder weitergegeben. Bei der Veröffentlichung Ihres Kommentars wird lediglich der von Ihnen mitgeteilte Name (Nickname), nicht jedoch die von Ihnen angegebene Emailadresse&nbsp; veröffentlicht. Die bei einer Kontaktanfrage personenbezogenen Daten dienen lediglich zur Beantwortung Ihrer Anfrage und werden im Nachhinein gelöscht.</p>


<h2>Weitergabe personenbezogener Daten an Dritte</h2>



<p>Ihre personenbezogenen Daten werden an Dritte nur weitergegeben oder sonst übermittelt, wenn Sie zuvor ausdrücklich eingewilligt haben. Ausgenommen hiervon sind lediglich unsere Dienstleistungspartner, die wir zur Abwicklung des Vertragsverhältnisses benötigen. Darüber hinaus werden wir in keinem Fall Ihre personenbezogenen Daten an Dritte zu kommerziellen oder nicht kommerziellen Zwecken weitergeben.</p>
