<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>

<br class="shortBr">

<!-- Player 2 Karten -->
<div class="container" *ngFor="let card of player2.ownedCards">
  <img class="player" src="./assets/Cards/back.png" width="80" height=auto>
</div>

<br><br><br><br><br><br><br>

<!-- Zug schrift -->
<div class="turn" *ngIf="turn.includes('player1')">
  <p>Spieler 1 ist am Zug!</p>
</div>
<div class="turn" *ngIf="turn.includes('player2')">
  <p>Spieler 2 ist am Zug!</p>
</div>

<div class="score2">
  <p>Spieler 2 Punktestand: {{player2.score}}</p>
</div>

<div class="score1">
  <p>Spieler 1 Punktestand: {{player1.score}}</p>
</div>

<!-- Zugstapel -->
<div class="drawPile" *ngIf="turn.includes('player1')">
  <a (click)="draw(player1, 1)">
    <img src="./assets/Cards/back.png" width="80" height=auto>
  </a>
  <p>Ziehe eine Karte!</p>
</div>
<div class="drawPile" *ngIf="turn.includes('player2')">
  <img src="./assets/Cards/back.png" width="80" height=auto>
</div>

<div class="stack">
  <img src="./assets/Cards/{{lastCardId}}.png" width="60" height="94.83">
</div>

<br><br>

<!-- Player 1 Karten -->
<div class="container" *ngFor="let card of player1.ownedCards">
  <div *ngIf="turn.includes('player1')">
    <a (click)="place(player1,cards[card].id)">
      <img class="player" src="./assets/Cards/{{cards[card].cardId}}.png" width="80" height=auto>
    </a>
  </div>
  <div *ngIf="turn.includes('player2')">
    <img class="player" src="./assets/Cards/{{cards[card].cardId}}.png" width="80" height=auto>
  </div>
</div>

<div *ngIf="lastCardId.includes('+2'); then plus2()"></div>
