a:hover {
  cursor: pointer;
}

.container {
  position: relative;
  left: 14%;
}

.player {
  float: left;
  margin-left: -45px;
  max-width: 60%;
}

.stack {
  position: fixed;
  left: 32%;
  top: 30%;
}

.drawPile {
  position: fixed;
  left: 5%;
  top: 40%;
}

br.shortBr {
  display: block;
  margin-top: 10px;
  line-height: 22px;
  content: " ";
}

.turn {
  position: fixed;
  left: 2%;
  top: 20%;
  font-size: 24px;
  font-weight: bold;
}

.score1 {
  position: fixed;
  left: 2%;
  top: 60%;
  font-size: 21px;
  font-weight: bold;
}

.score2 {
  position: fixed;
  left: 2%;
  top: 30%;
  font-size: 21px;
  font-weight: bold;
}

.csr {
  position: fixed;
  width: 4%;
  height: 2%;
  left: 2%;
  color: red;
  fill: red;
  top: 65%;
}
.csg {
  position: fixed;
  width: 4%;
  height: 2%;
  left: 2%;
  color: green;
  fill: green;
  top: 68%;
}
.csb {
  position: fixed;
  width: 4%;
  height: 2%;
  left: 2%;
  color: blue;
  fill: blue;
  top: 71%;
}
.csy {
  position: fixed;
  width: 4%;
  height: 2%;
  left: 2%;
  color: yellow;
  fill: yellow;
  top: 74%;
}

.winner {
  position: fixed;
  left: 50%;
  font-size: 30px;
  top: 32%;
}

